.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.topic-list {
  flex: 1;
  margin-right: 10px;
}

.topic-list h2 {
  margin-bottom: 10px;
}

.topic-list ul {
  list-style-type: none;
  padding: 0;
}

.topic-list li {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
}

.topic-list li:hover {
  background-color: #d2bbff78;
}

.topic-content {
  flex: 2;
  padding: 20px;
  border: 1px solid #ccc;
}

.topic-content h2 {
  margin-bottom: 10px;
}

.section div {
  padding-left: 15px;
}

.sectionHeader, subsectionHeader {
  background-color: #d2bbff33;
  padding: 10px;
  margin: 5px;
}

.sectionHeader:hover {
  color: #8721a4;
  cursor: pointer;
  background-color: #d2bbff78;
}

.subsectionHeader:hover {
  color: #8721a4;
  cursor: pointer;
}